<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'streamer/registration/signup.css' %}"/>
    <title>Sign Up</title>
</head>
<body>

{#{% extends 'base.html' %}#}

{% block title %}Sign Up{% endblock %}

<div class="form">
{% block content %}
  <h2>Sign up</h2>
  <form method="POST" action="">
    {% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.first_name.label }}</td>
    <td>{{ form.first_name }}</td>
</tr>
<tr>
    <td>{{ form.last_name.label }}</td>
    <td>{{ form.last_name }}</td>
</tr>
<tr>
    <td>{{ form.email.label }}</td>
    <td>{{ form.email }}</td>
</tr>
<tr>
    <td>{{ form.password1.label }}</td>
    <td>{{ form.password1 }}</td>
</tr>
<tr>
    <td>{{ form.password2.label }}</td>
    <td>{{ form.password2 }}</td>
</tr>

</table>
      {{form.errors}}
    <input type="submit" name="SIGN UP">
  </form>
{% endblock %}
<p>Already have an account?<a href="{% url 'login' %}"> login</a></p>
</div>
</body>
</html>