body {
    margin: 0;
    padding: 0;
    color: #0e0707;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(235, 235, 235);
    position: relative;
}

ul {
    position: relative;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 20%;
    left: 0%;
    bottom: 5%;
    max-height: 500px;
    overflow-y: scroll;
}

li {
    display: block;
    color: #000;
    height: fit-content;
    padding: 10px 0px;
    text-decoration: none;
    border-bottom: 1px solid #000;
}


li:hover {
    background-color: #c41717;
    color: white;
}

.slider_video {
    position: absolute;
    left: 20%;
    top: 12%;
    height: 500px;
    width: 56%;
    margin: 10px;
}

.hleft{
    text-align: center;
    color: #c41717;
}

.hright {
    position: relative;
    width: 20%;
    float: right;
}

footer {
    margin-left: 0;
    position: relative;
    bottom: 0%;
    width: 100%;
    background: #111;
    top: 100px;
}

.form {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-style: solid;
    background-color: azure;
    width: fit-content;
    padding: 5%;
}

.btn {
    margin-top: 10px;
}

.btn {
    color: white;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #c41717;
    font-size: 1.0625rem;
    font-weight: 550;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background: rgb(99, 12, 12);
}

.main-content {
    display: flex;
}

.main-content .box {
    color: #818181;
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1rem;
    font-weight: 550;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
}

.box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
}

.box .content:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 40%;
    background: #686565;
    top: -10px;
}

.left .content p {
    text-align: justify;
}

.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .social a {
    padding: 0 2px;
}

.left .social a span {
    color: #818181;
    height: 30px;
    width: 30px;
    background: #1a1a1a;
    line-height: 30px;
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    transition: 0.3s;
}

.content {
    font-size: 0.8rem;
}

.left .content .social a span:hover {
    color: #111;
    background: #ffffff;
}

.center .content .fas {
    font-size: 1rem;
    background: #1a1a1a;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.center .content .fas:hover {
    color: #111;
    background: #ffffff;
}

.center .content .text {
    font-size: 0.8rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone {
    margin: 15px 0;
}

.student-details {
    font-size: 0.65rem;
    margin-left: 45px;
    margin-top: 0px;
    margin-bottom: 15px;
}


.right .content .fas {
    font-size: 1rem;
    background: #1a1a1a;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.right .content .fas:hover {
    color: #111;
    background: #ffffff;
}

.right .content .text {
    font-size: 0.8rem;
    font-weight: 500;
    padding-left: 10px;
}

.right .content .phone {
    margin: 15px 0;
}