<!DOCTYPE html>
<html>

<head>
{#    {% load static %}#}
{##}
{#    <link rel="stylesheet" type="text/css" href="{% static 'streamer/style.css' %}">#}
    <style>
        header {display: block;}
        body {background-color: powderblue;}
        h1   {color: blue;}
        p    {color: red;}
    </style>
</head>

<body>

<header>
  <h1>VIDEO STREAMER</h1>
</header>

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}

<div style="text-align:center">

    <button onclick="playPause()">Play/Pause</button>
    <button onclick="makeBig()">Big</button>
    <button onclick="makeSmall()">Small</button>
    <button onclick="makeNormal()">Normal</button>
    <br><br>
    <video width="600" id="video" controls>
      <source src="video?path=setbyjs" type="video/mp4">
      Your browser does not support HTML video.
    </video>

</div>
<script>
var myVideo = document.getElementById("video");

function playPause() {
  if (myVideo.paused)
    myVideo.play();
  else
    myVideo.pause();
}

function makeBig() {
    myVideo.width = 560;
}

function makeSmall() {
    myVideo.width = 320;
}

function makeNormal() {
    myVideo.width = 420;
}
</script>
</body>
</html>