<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    {% load static %}#}
{##}
{#    <link rel="stylesheet" type="text/css" href="{% static 'streamer/style.css' %}">#}
    <style>
                * {
          box-sizing: border-box;
        }
        .column {
          float: left;
          padding: 10px;
            height: 100%;
        }

        .left, .right {
          width: 25%;
        }

        .middle {
          width: 50%;
        }

        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
    </style>
</head>

<body>

<header>
  <h1 align="center">VIDEO STREAMER</h1>
</header>

<div class="row">
  <div id="myItemList" class="column left" style="background-color:#aaa;">
  </div>
  <div class="column middle" style="background-color:#bbb;">

      <video width="600" id="video" controls>
      <source src="video?path=" type="video/mp4">
      Your browser does not support HTML video.
      </video>

  </div>
  <div class="column right" style="background-color:#ccc;">
      {% block content %}
    {% if user.is_authenticated %}
      Hi {{ user.username }}!<br><br>
        {{ user.email }}
      <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">Log In</a>
    {% endif %}
    {% endblock %}
  </div>
</div>

</div>
<script>

    function httpGet(theUrl)
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
        xmlHttp.send( null );
        return xmlHttp.responseText;
    }

    let movies = httpGet('movies');
    movies = JSON.parse(movies);
    console.log(movies);
    let ul = document.createElement('ul');

    document.getElementById('myItemList').appendChild(ul);

    movies.forEach(function (movie) {
        let li = document.createElement('li');
        li.onclick = function(){
            let name = li.innerText;
            let path = "";
            for (let i = 0; i < movies.length; i++){
                if (movies[i].name == name)
                    path = movies[i].path;
            }
            let vid = document.getElementById("video");
            console.log(path);
            vid.src = "video?path="+path;
        };
        ul.appendChild(li);

    li.innerHTML += movie.name;
    });

</script>
</body>
</html>