<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'streamer/player.css' %}"/>

</head>

<body>

<header>
<div class="hleft">
      <h1 align="center"><i>VIDEO STREAMER</i></h1>
</div>
<div class="hright">
    {% block content %}
    {% if user.is_authenticated %}
      Hi {{ user.username }}!({{ user.first_name }} {{ user.last_name }})<br>
        {{ user.email }}<br>
        Last login: {{ user.last_login }}<br>
      <p><a href="{% url 'logout' %}">Log Out</a></p>
        <br>
        <a href="{% url 'upload' %}">Upload Videos</a>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">Log In</a>
    {% endif %}
    {% endblock %}
</div>
</header>

<div id="myItemList">
    <ul class="menu_ul" id="video_id"></ul>
</div>

<iframe class="slider_video" id="video" src= "video?path=" frameborder="5"></iframe>

<footer>
    <div class="main-content">
      <div class="left box">

        <h2>About Us</h2>
        <div class="content">
          <p>This is a video streaming plateform where you can watch videos as per your choice. Browse free videos and
            take subscription for premium content. Connect to us on our social media handles to get more updates !
          </p>

          <div class="social">
            <a href="#"><span class="fab fa-facebook-f"></span></a>
            <a href="#"><span class="fab fa-twitter"></span></a>
            <a href="#"><span class="fab fa-instagram"></span></a>
          </div>
        </div>
      </div>

      <div class="center box">

        <h2>Address</h2>
        <div class="content">

          <div class="place">
            <span class="fas fa-map-marker-alt"></span>
            <span class="text">Manglore, India</span>
          </div>

          <div class="phone">
            <span class="fas fa-phone-alt"></span>
            <span class="text">+91-8888888888</span>
          </div>

          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">student@nitk.edu.in</span>
          </div>

        </div>
      </div>

      <div class="right box">

        <h2>Developed By</h2>
        <div class="content">

          <div class="student-1">
            <span class="fas fa-user"></span>
            <span class="text">Vivek Jain</span>
            <p class="student-details">CSIS, NITK</p>
          </div>

          <div class="student-2">
            <span class="fas fa-user"></span>
            <span class="text">Shivam Pandey</span>
            <p class="student-details">CSIS, NITK</p>
          </div>

        </div>
      </div>
    </div>


  </footer>
<script src="{% static 'streamer/player.js' %}"></script>
</body>
</html>