<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'streamer/player.css' %}"/>
</head>

<body>

<header>
  <h1 align="center">VIDEO STREAMER</h1>
    {% block content %}
    {% if user.is_authenticated %}
      Hi {{ user.username }}!({{ user.first_name }} {{ user.last_name }})<br>
        {{ user.email }}<br>
        Last login: {{ user.last_login }}<br>
      <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">Log In</a>
    {% endif %}
    {% endblock %}
</header>

        <div class="slider_wrapper">
        <iframe class="slider_video" id="video" src= "video?path=" frameborder="5"></iframe>
        <!-- start slider menu -->
            <div class="slider_menu_container">
                <div class="slider_menu" id="myItemList">
                 <ul id="video_id"></ul>
                </div>
            </div>
        </div>

<script src="{% static 'streamer/player.js' %}"></script>
</body>
</html>