{% extends 'base.html' %}
{% block content %}
    <div class="hright">
        {% if user.is_authenticated %}
            Hi {{ user.username }}!({{ user.first_name }} {{ user.last_name }})<br>
            {{ user.email }}<br>
            Last login: {{ user.last_login }}<br>
            <p><a href="{% url 'logout' %}">Log Out</a></p>
        {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">Log In</a>
        {% endif %}

    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}

    <form class="form" method="post" enctype="multipart/form-data">
        <h2>UPLOAD VIDEO</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn" type="submit">Upload</button>
        <p><a href="{% url 'player' %}">Return to browse videos</a></p>
    </form>
    {{ form.errors }}
{% endblock %}